.page {
    background: #000000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}