.popup__btn_error {
    color: #000000;
    background: transparent;
    border: 1px solid #000000;
    opacity: 0.2;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}